<table>
  <thead>
    <tr>
    <th>Name</th>
    <th>Band</th>
    <th>Album</th>
    <th>Genre</th>
    <th>Chord</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td class="name"><%= song.name %></td>
        <td class="band"><%= song.band %></td>
        <td class="album"><%= song.album %></td>
        <td class="genre"><%= song.genre %></td>
        <td class="chord"><%= song.chord %></td>
      </tr>
    <% end %>
  </tbody>
</table>